.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #245270;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.button {
  margin-top: 1.5rem;
  font-size: 16px;
  font-family: 'Indie Flower', cursive;
  padding: 15px 32px;
  background-color: #245270;
  color: #faf9f6;
  border-radius: 8px;
  border: 2px solid #9C060C;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #9C060C;
  color: white;
}


footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
